<div class="dialog-content">
    <h1 mat-dialog-title>{{alg.title}}</h1>
    <div  mat-dialog-content >
        <div>
            <h4><b>Algorithm</b></h4>
            <img src="{{alg.img}}" alt="image" style="width:390px; padding-bottom: 24px;">
        </div>
        <div>
            <h4><b>Analysis</b></h4>
            <p>{{alg.analysis}}</p>
        </div>
        <div>
            <h4><b>Use Case</b></h4>
            <p>{{alg.use_case}}</p>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
    </div>
</div>